<div class="jumbotron">
  <h1>Welcome to Present Picker!</h1>
  <p class="lead">
    <img class="hero" src="images/present.png" alt="A present"><br>
    The easiest place to brainstorm fun, surprising, but appreciated presents.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/picker">Check it out!</a></p>
</div>

<div class="row marketing">
  <h4>Mix and Match</h4>
  <p>
    Classes of adjectives (like color, style, etc.) are matched with types of objects they need or like, so they get things they want in styles they appreciate!
  </p>

  <h4>Easy to Use</h4>
  <p>
    Easy to re-roll or try again until you see something you like.
  </p>

  <h4>Amazon Linked</h4>
  <p>
    Links to the Amazon wish list API to pull in some ideas from things they already like.
  </p>
</div>
