<div ng-controller="PickerCtrl">
  <p>
    {{greeting}}! Choose some adjectives and a type of gift you'd like to search for. You can uncheck any options you don't want included!
  </p>
  <ul>
    <h3>Adjectives</h3>
    <li ng-repeat="adj in allAdjectiveTypes">
      <label>
        <h4>{{adj.type}}
          <input ng-change="toggleAdj(adj)" type="checkbox" name="type" ng-model="adjective.chosen" />
        </h4>
      </label>
      <br>
      <span ng-repeat="item in adj.list">
        <label  ng-show="adjective.chosen">
          {{item.value}}
          <input type="checkbox" name="item" ng-model="item.active" ng-change="toggleAdj(adj)" ng-show="adjective.chosen">
        </label>
      </span>
      <input type="text" name="addAdj" ng-value="adjToAdd" placeholder="Add new adjective"  ng-show="adjective.chosen">
      <button type="button" name="addAdj" ng-click="addAdj(adjToAdd)" ng-show="adjective.chosen">Add it!</button>
    </li>
    <h3>Nouns</h3>
    <li ng-repeat="noun in allNounTypes">
      <label>
        <h4>{{noun.type}}
          <input ng-change="chooseNoun(noun)" type="radio" name="specNoun" ng-model="noun.chosen" value="noun.chosen" />
        </h4>
      </label>
      <br>
      <span ng-repeat="item in noun.list">
        <label  ng-show="noun.chosen">
          {{item.value}}
          <input type="checkbox" name="item" ng-model="item.active" ng-change="chooseNoun(noun)" ng-show="noun.chosen">
        </label>
      </span>
      <input type="text" name="addNoun" ng-value="nounToAdd" placeholder="Add new noun" ng-show="noun.chosen">
      <button type="button" name="addNoun" ng-click="addNoun(nounToAdd)" ng-show="noun.chosen">Add it!</button>
    </li>
  </ul>
  <ul>
    <h3>Search</h3>
    <span ng-repeat="adj in activeAdjectiveTypes">
        {{adj.current}}
    </span>
    <span>
      {{activeNoun}}
    </span>
  </ul>
  <button type="button" name="reroll" ng-click="reroll()">Reroll!</button>
</div>
